@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --white: #ffffff;
    --rose-white: #fff5fa;
    --eggshell: #f3e6d8;
    --light-grey: #e4ded8;
    --wenge-brown: #5f574e;
    --dark-charcoal: #302d2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit, Young-serif;
    color: var(--wenge-brown);
}

body {
    background-color: var(--eggshell);
}

.mainframe {
    margin: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 50%;
    padding: 15px;
    margin-top: 7rem;
    margin-bottom: 7rem;
    background-color: var(--rose-white);
    border-radius: 12px;
    box-shadow: 8px 8px 17px rgba(0, 0, 0, 0.244);
}

#omelette-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100%;
}

#omelette-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.preparation {
    padding-left: 20px;
}

.preparation h4 {
    color: purple;
}

h2 {
    color: #a12f2f;
}

.preparation #Preparation-time {
    list-style-type: none;
}

.preparation #Preparation-time ul {
    padding-left: 20px;
    list-style: disc;
}

#Ingredients-list {
    list-style-type: none;
}

#Ingredients-list ul {
    padding-left: 20px;
    list-style-type: disc;
}

.instructions {
    list-style-type: decimal;
    /* padding-left: 20px; */
}

.instruction b {
    color: #a12f2f;
}

#instructions-heading {
    list-style-type: none;
}

#instructions-heading .instruction {
    margin-left: 20px;
    padding-left: 10px;
}

/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
    color: black;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: underlined;
}

@media only screen and (max-width: 500px) {
    .mainframe {
        width: 60%;
    }
}

@media only screen and (max-width: 400px) {
    .mainframe {
        width: 80%;
    }
}

@media only screen and (max-width: 250px) {
    .mainframe {
        width: 100%;
    }
}
